{% load sass_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Сайт информация об массаже">
  <link rel="stylesheet" href="{% sass_src 'css/vendor.scss' %}">
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}">
  <link rel="stylesheet" href="{% sass_src 'css/main.scss' %}"  type="text/css"/>
  <link rel="apple-touch-icon" sizes="180x180" href={% static "favicon/apple-touch-icon.png" %} />
  <link rel="manifest" href={% static "favicon/site.webmanifest" %} />
  <link rel="icon" type="image/png" href={% static "favicon/favicon-96x96.png" %} sizes="96x96" />
  <link rel="icon" type="image/svg+xml" href={% static "favicon/favicon.svg" %} />
  <link rel="shortcut icon" href={% static "favicon/favicon.ico" %} type="image/x-icon" />
  <link rel="mask-icon" href={% static "favicon/safari-pinned-tab.svg" %} color="#5bbad5">
  <meta name="theme-color" content="#ffffff">
  <title>
    {% block title %}
      Услуги массажа
    {% endblock %}
  </title>
</head>
<body>
  {% block body %}
    Сайт находится в разработке
  {% endblock %}
</body>
</html>
