{% extends "services/base.html" %}
{% load static %}
{% block body %}
  <header class="header">
    <div class="container header__container grid">
      <div class="flex header__logo">
        <a aria-label="Логотип"><img class="" src="{% static '/img/logo.png' %}" alt="Logo"></a>
      </div>
      <div class="header__nav">
        <nav class="nav header__nav header__2 flex" aria-label="Главная" data-menu>
          <ul class="flex nav list-reset nav__list">
            <li class="nav__item"><a href="#cids" class="nav__link">Детский массаж</a></li>
            <li class="nav__item"><a href="#massage" class="nav__link">Взрослый массаж</a></li>
            <!-- <li class="nav__item"><a href="#contacts" class="nav__link">Контакты</a></li> -->
            <li class="nav__item"><a href="#studio" class="nav__link">О студии</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </header>
  <main>
    <section class="massage">
      <div class="container">
        <h1 class="massage__title">
          Твой массажист
        </h1>
      </div>
    </section>
    <section class="service">
      <div class="container">
        <div class="">
          <h2>Список массажей</h2>
          <h3>Детские массажи</h3>
          <ul class="list-reset service__card">
            {% for massage in child_massages %}
            <!-- <li class="service__image" style="background-image: url('{{ massage.image.url }}');"> -->
              <a href="{% url 'massage_detail' pk=massage.pk %}" class="service__image" style="background-image: url('{{ massage.image.url }}');">
                <div class="service__info">
                  <h3 class="service__name">{{ massage.name }}</h3>
                  <p class="service__price">Стоимость: {{ massage.price }}</p>
                  <p class="service__duration">Продолжительность от {{ massage.duration_min }} до {{ massage.duration_max  }}</p>
                </div>
              </a>
            <!-- </li> -->
            {% endfor %}
          </ul>
          <h3>Взрослые массажи</h3>
          <ul class="list-reset service__card">
            {% for massage in adult_massages %}
            <!-- <li class="service__image" style="background-image: url('{{ massage.image.url }}');"> -->
              <a href="{% url 'massage_detail' pk=massage.pk %}" class="service__image" style="background-image: url('{{ massage.image.url }}');">
              <div class="service__info">
                <h3 class="service__name">{{ massage.name }}</h3>
                <p class="service__price">Стоимость: {{ massage.price }}</p>
                <p class="service__duration">Продолжительность от {{ massage.duration_min }} до {{ massage.duration_max  }}</p>
              </div>
              </a>
            <!-- </li> -->
            {% endfor %}
          </ul>
        </div>
      </div>
    </section>
  </main>
{% endblock %}
