{% extends "main/base.html" %}

{% block title %}
{{ massage.name }}
{% endblock %}

{% block body %}
<div class="container massage__center">
  <h1 class="massage__name">Массаж {{ massage.name }}</h1>
  <div class="massage__center">
    <div class="massage__name">
      {{ message.name }}
    </div>
    <div class="massage__description">
      {{ massage.description }}
    </div>
    <div class="massage__price">
      Стоимость: {{ massage.price }}
    </div>
    <div class="massage__duration">
      Продолжительность массажа {{ massage.duration_min }} - {{ massage.duration_max }} минут
    </div>
    <div class="massage__back">
      <a class="massage__back-text" href="{% url 'main:index' %}">Назад</a>
    </div>
  </div>
</div>
{% endblock %}
