{% extends "main/base.html" %}

{% block title %}
{{ massage.name }}
{% endblock %}

{% block body %}
<div class="container massage__center">
  <h1 class="massage__name"><strong>{{ massage.name }}</strong></h1>
  <div class="massage__center">
    <div class="massage__name">
      {{ message.name }}
    </div>
    <div class="massage__description">
      {{ massage.description }}
    </div>
    <div class="massage__price">
      Стоимость: {{ massage.price }}
    </div>
    <div class="massage__duration">
      Продолжительность массажа {% if massage.duration_min %} {{ massage.duration_min }} - {% endif %} {{ massage.duration_max }} минут
    </div>
    <div class="massage__location">
      Место проведения: <strong>{{ massage.location }}</strong>
    </div>
  </div>
</div>
{% endblock %}
{% block button_back %}
  <div class="container massage__back massage__center">
    <a class="massage__back-text" href="{% url 'main:index' %}#{{ massage.slug }}">Назад</a>
  </div>
{% endblock %}
