/* stylelint-disable order/order */
html {
  box-sizing: border-box;
  scroll-padding-top: 88px;
  background-color: var(--color-canvas);
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  margin: 0;
  min-width: 320px;
  font-family: var(--font-family);
  font-size: 16px;
  color: var(--color-ink);
  background-color: var(--color-canvas);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  grid-row: 1;
}

.content {
  grid-row: 2;
  background-color: var(--color-canvas);
}

footer {
  grid-row: 3;
}

img {
  height: auto;
  max-width: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
}

.container {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  max-width: var(--container-width);
}

.is-hidden {
  display: none !important;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.no-scroll {
  overflow: hidden;
}

.flex {
  display: flex;
}
