@charset "UTF-8";
:root {
  --font-family: "Roboto", sans-serif;
  --second-family: "TT Firs Neue", sans-serif;
  --third-family: "Muller", sans-serif;
  --content-width: 1290px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
  --offset: 30px;
  --main-color-bg: #dac2ac;
  --main-color-text: #686b62;
  --interactive-color: #f00;
  --light-color-text: #fff;
  --footer-color-text: #cacaca; }

/* stylelint-disable */
/* stylelint-disable */
/* stylelint-disable */
@font-face {
  font-family: "Muller";
  src: url("../fonts/../fonts/MullerRegular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal; }

@font-face {
  font-family: "Roboto";
  src: url("../fonts/../fonts/RobotoRegular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal; }

@font-face {
  font-family: "Roboto";
  src: url("../fonts/../fonts/RobotoBold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
  font-style: normal; }

@font-face {
  font-family: "TTFirsNeue";
  src: url("../fonts/../fonts/TTFirsNeueRegular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal; }

@font-face {
  font-family: "TTFirsNeue";
  src: url("../fonts/../fonts/TTFirsNeueMedium.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
  font-style: normal; }

@font-face {
  font-family: "TTFirsNeue";
  src: url("../fonts/../fonts/TTFirsNeueBold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
  font-style: normal; }

/* stylelint-disable order/order */
html {
  box-sizing: border-box; }

*,
*::before,
*::after {
  box-sizing: inherit; }

.page {
  height: 100%;
  font-family: var(--font-family, sans-serif);
  -webkit-text-size-adjust: 100%; }

.page__body {
  margin: 0;
  min-width: 320px;
  min-height: 100%;
  font-size: 16px; }

img {
  height: auto;
  max-width: 100%;
  object-fit: cover; }

a {
  text-decoration: none; }

.site-container {
  overflow: hidden; }

.is-hidden {
  display: none !important;
  /* stylelint-disable-line declaration-no-important */ }

.btn-reset {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer; }

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0; }

.input-reset {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: #fff; }
  .input-reset::-webkit-search-decoration, .input-reset::-webkit-search-cancel-button, .input-reset::-webkit-search-results-button, .input-reset::-webkit-search-results-decoration {
    display: none; }

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0); }

.container {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  max-width: var(--container-width); }
  @media (max-width: 576px) {
    .container {
      padding: 0; } }
.js-focus-visible :focus:not(.focus-visible) {
  outline: none; }

.centered {
  text-align: center; }

.dis-scroll {
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  overscroll-behavior: none; }

.page--ios .dis-scroll {
  position: relative; }

.grid {
  display: grid;
  column-gap: var(--offset);
  grid-template-columns: repeat(12, 1fr); }
  @media (max-width: 1024px) {
    .grid {
      grid-template-columns: repeat(8, 1fr); } }
  @media (max-width: 992px) {
    .grid {
      grid-template-columns: repeat(6, 1fr); } }
  @media (max-width: 576px) {
    .grid {
      grid-template-columns: repeat(2, 1fr); } }
.flex {
  display: flex; }

.w-100 {
  width: 100%; }

@media (max-width: 1024px) {
  :root {
    --content-width: 962px; } }

@media (max-width: 992px) {
  :root {
    --content-width: 714px; } }

@media (max-width: 576px) {
  :root {
    --content-width: 278px; } }

.burger {
  --burger-width: 30px;
  --burger-height: 30px;
  --burger-line-height: 2px;
  position: relative;
  border: none;
  padding: 0;
  width: var(--burger-width);
  height: var(--burger-height);
  color: #000;
  background-color: transparent;
  cursor: pointer;
  background-size: 0;
  --burger-height: 20px;
  --burger-width: 20px;
  z-index: 200;
  display: none;
  color: var(--light-color); }
  .burger::before {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: var(--burger-line-height);
    background-color: currentColor;
    transition: transform 0.3s ease-in-out, top 0.3s ease-in-out; }
  .burger::after {
    content: "";
    position: absolute;
    left: 0;
    width: 50%;
    height: var(--burger-line-height);
    background-color: currentColor;
    transition: transform 0.3s ease-in-out, top 0.3s ease-in-out; }
  .burger::before {
    top: 0; }
  .burger::after {
    top: calc(100% - var(--burger-line-height)); }
  .burger__line {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: var(--burger-line-height);
    background-color: currentColor;
    transform: translateY(-50%);
    transition: transform 0.3s ease-in-out; }
  .burger--active {
    top: -70px;
    left: 5px;
    background-image: url("../../img/x.png");
    background-repeat: no-repeat;
    background-size: 100%;
    transition: background-size 0.3s ease-in-out; }
    .burger--active::before {
      height: 0;
      top: 0;
      transition: transform 0.3s ease-in-out, top 0.3s ease-in-out; }
    .burger--active::after {
      height: 0;
      top: 0;
      transition: transform 0.3s ease-in-out, top 0.3s ease-in-out; }
    .burger--active .burger__line {
      height: 0; }
  @media (max-width: 767px) {
    .burger {
      display: block; } }
body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  -ms-grid-rows: auto 1fr auto; }
  @media (max-width: 576px) {
    body {
      min-height: -webkit-fill-available; } }
header {
  -ms-grid-row: 1;
  grid-row: 1; }

.content {
  -ms-grid-row: 2;
  grid-row: 2;
  /* Основное место под солнцем */
  padding-top: var(--offset);
  background-image: url("../img/background.jpeg");
  background-size: cover;
  background-repeat: no-repeat; }

footer {
  -ms-grid-row: 3;
  grid-row: 3; }

.header {
  padding: 23px 0;
  background-color: var(--main-color-bg); }
  .header__container {
    align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center; }
    @media (max-width: 576px) {
      .header__container {
        grid-template-columns: 50px 1fr;
        gap: 15px;
        -ms-grid-columns: 50px 15px 1fr; } }
  .header__logo {
    width: 50px; }
  .header__logo-img:hover {
    transform: scale(1.5); }
  .header__logo-link {
    display: inline-block;
    outline: none; }
  .header__logo-img {
    width: 50px;
    transition: transform 0.3s ease-in-out; }
  .header__nav {
    justify-items: center;
    grid-column: 2 / -1; }
  .header__logo-link:hover .header__logo-img, .header__logo-link:focus .header__logo-img {
    transform: scale(1.5); }
  .header__logo-link:active .header__logo-img {
    transform: scale(1.2); }

.nav__list {
  gap: 120px; }
  @media (max-width: 576px) {
    .nav__list {
      align-items: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      gap: 15px; } }
.nav__link {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 16px;
  color: var(--light-color-text);
  -webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out; }
  @media (max-width: 576px) {
    .nav__link {
      font-size: 12px; } }
.nav__link:hover {
  color: var(--interactive-color); }

.nav__link:focus {
  outline: none;
  color: var(--interactive-color); }

.nav__link:active {
  color: var(--interactive-color); }

.massage {
  padding: var(--offset) 0;
  padding-top: 0; }
  .massage__title {
    margin: 0;
    padding: 0;
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 36px;
    line-height: 104%;
    text-align: center;
    color: var(--main-color-text); }
    @media (max-width: 1024px) {
      .massage__title {
        font-size: 30px; } }
  .massage__name {
    margin: 0;
    padding-top: var(--offset);
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 24px;
    color: var(--main-color-text); }
    @media (max-width: 1024px) {
      .massage__name {
        font-size: 20px; } }
  .massage__description {
    margin-bottom: calc(var(--offset) / 3);
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 137%;
    color: var(--main-color-text); }
  .massage__price {
    margin-bottom: calc(var(--offset) / 3);
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 137%;
    color: var(--main-color-text); }
  .massage__duration {
    margin-bottom: calc(var(--offset) / 2);
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 137%;
    color: var(--main-color-text); }
  .massage__back {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: var(--offset);
    border-radius: 20px;
    width: 202px;
    height: 60px;
    background: var(--main-color-bg);
    -webkit-transition: background 0.3s ease-in-out;
    -o-transition: background 0.3s ease-in-out;
    transition: background 0.3s ease-in-out;
    cursor: pointer;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    -ms-flex-align: center;
    -ms-flex-pack: center; }
    .massage__back:hover {
      background: var(--interactive-color); }
    .massage__back:active {
      background: var(--interactive-color); }
  .massage__back-text {
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    border-radius: 20px;
    width: 100%;
    height: 100%;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    color: var(--light-color-text);
    -webkit-transition: background 0.3s ease-in-out;
    -o-transition: background 0.3s ease-in-out;
    transition: background 0.3s ease-in-out;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    -ms-flex-align: center;
    -ms-flex-pack: center; }
    .massage__back-text:focus {
      background: var(--interactive-color); }
  .massage__center {
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    align-items: center;
    text-align: center;
    -webkit-box-align: center;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -ms-flex-align: center; }
  .massage__icons-detail {
    margin-bottom: var(--offset); }
    @media (max-width: 576px) {
      .massage__icons-detail {
        margin-bottom: 15px; } }
  @media (max-width: 576px) {
    .massage {
      padding-bottom: 15px; } }
.service {
  padding-bottom: var(--offset);
  /* &__name:hover { */
  /*   background-color: var(--interactive-color); */
  /* } */ }
  .service__title {
    margin: 0;
    margin-bottom: var(--offset);
    padding: 0;
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 24px;
    color: var(--main-color-text); }
    @media (max-width: 1024px) {
      .service__title {
        font-size: 20px; } }
    @media (max-width: 576px) {
      .service__title {
        margin-bottom: 15px; } }
  .service__subtitle {
    margin: 0;
    margin-bottom: calc(var(--offset) / 2);
    padding: 0;
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 16px;
    color: var(--main-color-text); }
    @media (max-width: 1024px) {
      .service__subtitle {
        font-size: 14px; } }
    @media (max-width: 576px) {
      .service__subtitle {
        margin-bottom: 10px; } }
  .service__card {
    display: grid;
    justify-items: center;
    grid-auto-rows: 200px;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    -ms-grid-columns: 1fr 30px 1fr 30px 1fr; }
    @media (max-width: 1024px) {
      .service__card {
        grid-auto-rows: 250px;
        grid-template-columns: repeat(2, 1fr);
        -ms-grid-columns: 1fr [2]; } }
    @media (max-width: 576px) {
      .service__card {
        grid-auto-rows: 180px;
        grid-template-columns: repeat(1, 1fr);
        gap: 15px;
        -ms-grid-columns: 1fr; } }
  .service__card:not(:last-child) {
    margin-bottom: 30px; }
    @media (max-width: 576px) {
      .service__card:not(:last-child) {
        margin-bottom: 15px; } }
  .service__image {
    position: relative;
    overflow: hidden;
    border: 2px solid var(--main-color-bg);
    border-radius: 10px;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-transition: border-color 0.3s ease-in-out;
    -o-transition: border-color 0.3s ease-in-out;
    transition: border-color 0.3s ease-in-out;
    cursor: pointer; }
  .service__image:hover {
    border-color: var(--interactive-color); }
    .service__image:hover .service__name {
      background-color: var(--interactive-color); }
  .service__image:focus {
    outline: none;
    border-color: var(--interactive-color); }
  .service__image:active {
    background-color: var(--interactive-color); }
  .service__name {
    left: 5px;
    top: 5px;
    margin: 0;
    padding: 2px 5px;
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
    color: var(--light-color-text);
    background-color: var(--main-color-bg);
    -webkit-transition: background-color 0.3s ease-in-out;
    -o-transition: background-color 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out; }
    @media (max-width: 1024px) {
      .service__name {
        font-size: 20px; } }
  .service__price {
    position: relative;
    left: 5px;
    top: 5px;
    margin: 0;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 137%;
    color: var(--main-color-text); }
    @media (max-width: 1024px) {
      .service__price {
        font-size: 14px; } }
  .service__duration {
    position: absolute;
    left: 5px;
    bottom: 5px;
    margin: 0;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 137%;
    color: var(--main-color-text); }
    @media (max-width: 1024px) {
      .service__duration {
        font-size: 14px; } }
.contact {
  padding-bottom: var(--offset); }
  .contact__title {
    margin: 0;
    margin-bottom: calc(var(--offset) / 2);
    padding: 0;
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 24px;
    color: var(--main-color-text); }
    @media (max-width: 1024px) {
      .contact__title {
        font-size: 20px; } }
  .contact__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center; }
  .contact__icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: var(--offset); }

.icon {
  width: 24px;
  height: 24px; }

.telegram {
  outline: none; }
  .telegram__icon {
    fill: #37aee2;
    -webkit-transition: fill 0.3s ease-in-out;
    -o-transition: fill 0.3s ease-in-out;
    transition: fill 0.3s ease-in-out; }
    .telegram__icon-path1 {
      fill: #c8daea; }
    .telegram__icon-path2 {
      fill: #a9c9dd; }
    .telegram__icon-path3 {
      fill: #f6fbfe; }
    .telegram__icon:hover {
      fill: var(--main-color-bg); }
  .telegram:focus .telegram__icon {
    fill: var(--main-color-bg); }
  .telegram:active .telegram__icon {
    fill: var(--main-color-bg); }

.whatsapp {
  outline: none; }
  .whatsapp__icon {
    fill: #25d366;
    -webkit-transition: fill 0.3s ease-in-out;
    -o-transition: fill 0.3s ease-in-out;
    transition: fill 0.3s ease-in-out; }
    .whatsapp__icon-path1 {
      fill: #25d366;
      stroke: #fff;
      -webkit-transition: fill 0.3s ease-in-out;
      -o-transition: fill 0.3s ease-in-out;
      transition: fill 0.3s ease-in-out; }
    .whatsapp__icon-path2 {
      fill: #fff; }
    .whatsapp__icon:hover {
      fill: var(--main-color-bg); }
      .whatsapp__icon:hover .whatsapp__icon-path1 {
        fill: var(--main-color-bg); }
  .whatsapp:focus .whatsapp__icon {
    fill: var(--main-color-bg); }
  .whatsapp:focus .whatsapp__icon-path1 {
    fill: var(--main-color-bg); }
  .whatsapp:active .whatsapp__icon {
    fill: var(--main-color-bg); }
  .whatsapp:active .whatsapp__icon-path1 {
    fill: var(--main-color-bg); }

.footer {
  padding-top: 55px;
  background-color: var(--main-color-bg); }
  .footer__wave {
    margin-bottom: 0;
    margin-left: -7px;
    width: calc(100% + 7px);
    height: 16px; }
    .footer__wave-text {
      justify-content: center;
      padding-bottom: 10px;
      font-family: var(--font-family);
      font-weight: 400;
      font-style: normal;
      font-size: 16px;
      line-height: 137%;
      color: var(--main-color-text);
      -webkit-box-pack: center;
      -ms-flex-pack: center; }
      @media (max-width: 1024px) {
        .footer__wave-text {
          font-size: 14px; } }
