{% extends "main/base.html" %}

{% block title %}Страница не найдена (404){% endblock %}
{% block body %}
  <div class="container">
    <h1 class="error__title">Ошибка 404</h1>
    <p class="error__description">Запрошенная страница не существует.</p>
{#    <p><a href="{% url 'main:index' %}">Вернуться на главную</a></p>#}
  </div>
{% endblock %}


{% block button_back %}
  <div class="container massage__back massage__center">
    <a class="massage__back-text" href="{% url 'main:index' %}">Вернуться на главную</a>
  </div>
{% endblock %}
