{% extends "main/base.html" %}
{% load static %}

{% block title %}
  {{ site_settings.head_title }}
{% endblock %}

{% block body %}
  <section class="massage" style="background-image: url('{{ site_settings.background.url }}')">
    <div class="container">
      <div class="massage__content">
        <h1 class="massage__title">{{ site_settings.main_title }}</h1>
        <p class="massage__subtitle">{{ site_settings.main_subtitle }}</p>
        <a href="#contacts" class="massage__button">Записаться на массаж</a>
      </div>
    </div>
  </section>
  {% if about %}
  <section class="about" id="about">
    <div class="container">
      <h2 class="about__title">{{ site_settings.about_title }}</h2>
      <div class="about__content">
        {% if about.photo %}
        <div class="about__photo">
          <img src="{{ about.photo.url }}" alt="{{ about.name }}">
        </div>
        {% endif %}
        <div class="about__info">
          {% if about.name %}
          <h3>{{ about.name }}</h3>
          {% endif %}
          {% if about.start_date %}
          <p class="about__experience">Опыт работы: {{ about.experience_text }}</p>
          {% endif %}
          {% if about.description %}
          <p class="about__description">{{ about.description }}</p>
          {% endif %}
        </div>
      </div>
      {% if about.certificates.exists %}
      <div class="about__certificates">
        <h3 class="service__title">Сертификаты</h3>
        <div class="service__card">
          {% for certificate in about.certificates.all %}
          <div class="service__image" style="background-image: url('{{ certificate.image.url }}')">
            <div class="service__info service__info--certificate">
{#              <h4 class="service__name">{{ certificate.title }}</h4>#}
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
      {% endif %}
    </div>
  </section>
  {% endif %}

  <div class="certificate-modal">
    <div class="certificate-modal__content">
      <button class="certificate-modal__close">&times;</button>
      <img class="certificate-modal__image" src="" alt="Сертификат">
    </div>
  </div>

  <section class="service">
    <div class="container">
      {% if child_massages %}
        <h2 class="service__title" id="cids"><strong>{{ site_settings.child_massage_title }} в Тюмени</strong></h2>
      <div class="service__card">
        {% for massage in child_massages %}
        <a id="{{ massage.slug }}" href="{% url 'services:massage_detail' slug=massage.slug %}" class="service__image" style="background-image: url('{{ massage.image.url }}')">
          <div class="service__info">
            <h3 class="service__name">{{ massage.name }}</h3>
          </div>
          <div class="service__info service__info--bottom">
            <div class="service__name service__name--more">
              Подробнее 
              <svg width="12" height="12" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg">
                <path d="M256 120.768L306.432 64 768 512l-461.568 448L256 903.232 659.072 512z"/>
              </svg>
            </div>
          </div>
        </a>
        {% endfor %}
      </div>
      {% endif %}

      {% if adult_massages %}
      <h2 class="service__title" id="massage"><strong>{{ site_settings.massage_title }} в Тюмени</strong></h2>
      <div class="service__card">
        {% for massage in adult_massages %}
        <a id="{{ massage.slug }}" href="{% url 'services:massage_detail' slug=massage.slug %}" class="service__image" style="background-image: url('{{ massage.image.url }}')">
          <div class="service__info">
            <h3 class="service__name">{{ massage.name }}</h3>
          </div>
          <div class="service__info service__info--bottom">
            <div class="service__name service__name--more">
              Подробнее 
              <svg width="12" height="12" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg">
                <path d="M256 120.768L306.432 64 768 512l-461.568 448L256 903.232 659.072 512z"/>
              </svg>
            </div>
          </div>
        </a>
        {% endfor %}
      </div>
      {% endif %}
    </div>
  </section>
{% endblock %}
